<div class="row">
  <div class="span8" id="page-<%= post.slug %>">
    <div class='content'>
      <h3><a href="/<%= post.slug %>"><%= post.title %></a></h3>
      <div><%- post.content %></div>
    </div>
  </div>
</div>
